
<div id="headerElement" class="row">
<div class="col"> 
  <a routerLink="{{''}}"> <img class="logo " alt="egzotične životinje" src="../../../../../assets/images/reptiles-that-are-cared-for-by-Wellesley-Exotic-Pet-Vets.jpg"> </a>   
</div>
<div class="col">
    <div id="name">
        <h1> <a routerLink="{{''}}"> Egzotični ljubimci </a></h1>
    </div> 
    <app-menu></app-menu>
</div> 
<div class="col"> 
    <a routerLink="{{''}}">  <img class="float-right logo" alt="egzotične životinje" src="../../../../../assets/images/reptiles-that-are-cared-for-by-Wellesley-Exotic-Pet-Vets.jpg"> </a> 
</div> 
</div>


