
<div class="content" *ngIf="tarantula">
    <div class="container">
      <div class="row" id="position1">
        <div class="col-3" >
          <img class="img-thumbnail" src="../../../../assets/images/{{tarantula.slika}}" alt={{tarantula.name}}>
        </div>
        <div class="col-9" >
            <h2> {{tarantula.name}}</h2>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <p> <b>Poreklo i Stanište </b>: {{tarantula.porekloStaniste}} </p>
        </div>
      </div>
    <div class="row">
        <div class="col">
            <p> <b>Veličina i izgled</b>: {{tarantula.velicinaIzgled}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Ponašanje</b>: {{tarantula.ponasanje}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Terarijum</b>: {{tarantula.terarijum}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Podloga</b>: {{tarantula.podloga}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Temperatura</b>: {{tarantula.temperatura}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Osvetljenje</b>: {{tarantula.osvetljenje}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Vlažnost vazduha</b>: {{tarantula.vlaznostVazduha}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Voda</b>: {{tarantula.voda}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Ishrana</b>: {{tarantula.ishrana}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Toksičnost</b>: {{tarantula.toksicnost}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Razmnožavanje</b>: {{tarantula.razmnozavanje}}</p>
      </div>
    </div>
    </div>
    </div>
