<div class="content">
  <h1> Životinje</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm element">
        <img class="img-thumbnail" src="../../../../assets/images/bradati-zmaj.jpg" alt="bradata agama">
        <div class="middle">
          <a routerLink="{{'/gusteri'}}"> <div class="text">Gušteri</div> </a>
        </div>
      </div>
      <div class="col-sm element">
        <img class="img-thumbnail" src="../../../../assets/images/test-1-5f45c51e33744.png" alt="piton">
        <div class="middle">
          <a routerLink="{{'/zmije'}}"> <div class="text">Zmije</div> </a>
        </div>
      </div>
      <div class="col-sm element">
        <img class="img-thumbnail" src="../../../../assets/images/test-1-5f45c59496dba.png" alt="tarantula">
        <div class="middle">
          <a routerLink="{{'/tarantule'}}">  <div class="text">Tarantule</div> </a>
        </div>
      </div>
    </div>
  </div>
  </div>
