<div class="content" *ngIf="guster">
    <div class="container">
      <div class="row" id="position1">
        <div class="col-3" >
          <img class="img-thumbnail" src="../../../../assets/images/{{guster.slika}}" alt={{guster.name}}>
        </div>
        <div class="col-9" >
            <h2> {{guster.name}}</h2>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <p> <b>Poreklo i Stanište </b>: {{guster.porekloStaniste}} </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <p> <b>Dostupnost </b>: {{guster.dostupnost}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Veličina i izgled</b>: {{guster.velicinaIzgled}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Ponašanje</b>: {{guster.ponasanje}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Terarijum</b>: {{guster.terarijum}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Podloga</b>: {{guster.podloga}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Temperatura</b>: {{guster.temperatura}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Osvetljenje</b>: {{guster.osvetljenje}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Vlažnost vazduha</b>: {{guster.vlaznostVazduha}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Voda</b>: {{guster.voda}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Ishrana</b>: {{guster.ishrana}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Bolesti</b>: {{guster.bolesti}}</p>
      </div>
    </div>
    </div>
    </div>
