<div class="content" *ngIf="zmija">
    <div class="container">
      <div class="row" id="position1">
        <div class="col-3" >
          <img class="img-thumbnail" src="../../../../assets/images/{{zmija.slika}}" alt={{zmija.name}}>
        </div>
        <div class="col-9" >
            <h2> {{zmija.name}}</h2>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <p> <b>Poreklo i Stanište </b>: {{zmija.porekloStaniste}} </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <p> <b>Dostupnost </b>: {{zmija.dostupnost}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Veličina i izgled</b>: {{zmija.velicinaIzgled}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Ponašanje</b>: {{zmija.ponasanje}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Terarijum</b>: {{zmija.terarijum}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Podloga</b>: {{zmija.podloga}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Temperatura</b>: {{zmija.temperatura}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Osvetljenje</b>: {{zmija.osvetljenje}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Vlažnost vazduha</b>: {{zmija.vlaznostVazduha}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Voda </b>: {{zmija.voda}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Ishrana </b>: {{zmija.ishrana}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p> <b>Bolesti </b>: {{zmija.razmnozavanje}}</p>
      </div>
    </div>
    </div>
    </div>